{{define "head"}}
<ul id="menu">	
<li{{if .Selected.Money}} class="sel"{{end}}><a href="/">Money</a></li>
<li{{if .Selected.Add}} class="sel"{{end}}><a href="/add">Add</a></li>
<li{{if .Selected.Recent}} class="sel"{{end}}><a href="/recent">Recent</a></li>
<li{{if .Selected.Monthly}} class="sel"{{end}}><a href="/monthly">Monthly</a></li>
<li{{if .Selected.Balance}} class="sel"{{end}}><a href="/balance">Balance</a></li>
<li{{if .Selected.Revenue}} class="sel"{{end}}><a href="/revenue">Revenue</a></li>
<li{{if .Selected.Search}} class="sel"{{end}}><a href="/search">Search</a></li>
</ul>
{{end}}
